<div id="navbar">
  <div id="navbar-icons" class="d-flex justify-content-between">
   <i class="fa-solid fa-house" id="navbar-icons"></i>
   <i class="fa-solid fa-house" id="navbar-icons"></i>
   <i class="fa-solid fa-plus" id="navbar-icons"></i>
  </div>
</div>
